<%# this the sub title %>
<h2><%= "#{@current_trimester.term} #{@current_trimester.year} Courses" %></h2>


<ul>
 <% @current_trimester.courses.each do |course| %>
   <li><%= link_to course.coding_class.title, course_students_path(course.id) %></li>

 <% end %>
</ul>

<%# this the sub title %>
<h2><%= "#{@upcoming_trimester.term} #{@upcoming_trimester.year} Courses" %></h2>


<ul>
<% @upcoming_courses.each do |course| %>
  <li><%= link_to course.coding_class.title, course_students_path(course.id) %></li>
<% end %>

</ul>


<%= link_to "Add new course", new_course_path%>

