<%= form_with(model: [@course, @submission], local: true) do |form| %>
  <% if @submission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@submission.errors.count, "error") %> cannoot be saved</h2>
      <ul>
        <% @submission.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :lesson_id, "Lesson" %><br>
    <%= form.collection_select :lesson_id, @lessons, :id, :title, prompt: "Select a lesson" %>
  </div>

  <div>
    <%= form.label :enrollment_id, "Student" %><br>
    <%= form.collection_select :enrollment_id, @enrollments, :id, ->(enrollment) { enrollment.student.name }, prompt: "Select a student" %>
  </div>

  <div>
    <%= form.label :review_result %><br>
    <%= form.text_field :review_result %>
  </div>

  <div>
    <%= form.submit "submit Assignment" %>
  </div>
<% end %>


